
.container {
  align-items: center;
  text-align: center;
  padding: 2%;
}

#submit {
  margin-top: 5%;
  font-size: 20px;
  height:40px;
  width: 15%;
  color: plum;
  background-color: blueviolet;
  border-radius: 100%;
}

#quiz{
  margin: auto;
  width: 50%;
  
}
